/*.App {*/
/*  padding: 30px;*/
/*  display: flex;*/
/*}*/

/*.App > div {*/
/*  margin-right: 50px;*/
/*}*/

/*.todolist {*/
/*  background-color: #fae0c0;*/
/*  padding: 15px;*/
/*  border-radius: 5px;*/
/*}*/

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

/*.task {*/
/*  font-weight: bold;*/
/*}*/

/*.btn-active {*/
/*  background-color: chocolate;*/
/*  color: aliceblue;*/
/*  border: 2px solid chocolate;*/
/*  border-radius: 3px;*/
/*}*/

/*.input-error {*/
/*  border: 3px solid red;*/
/*  outline: none;*/
/*}*/



.todolist-title-container {
  display: flex;
  align-items: center;
}