.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  background-color: gold;
  padding: 15px;
  border-radius: 5px;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.task {
  font-weight: bold;
}

.btn-active {
  background-color: chocolate;
  color: aliceblue;
  border: 2px solid chocolate;
  border-radius: 3px;
}